#main2 {
    position: relative; 
    display: flex; 
    margin-top: 3%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    /*background:  rgba(193,193,193,0.3); */
    border-radius: 5% 5%; 
    font-family: Microsoft Yahei;
    font-size: 19px;
    text-align: center;
}
#stay-info a {
   color:black;
/*     字体颜色 */
}
/*#participation-method {
    position: relative;
    margin-top: 5%;
    padding-bottom: 10%;
}
#participation-method p{
    padding-top: 2%;
}*/
/*#participation-method img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}*/
#participation-method :nth-child(4) {
    padding-bottom: 10%; 
}


#register {
    position: relative;
    margin-top: 5%;
   
}
#register table {
    width: 50%;
}
#register table caption {
    font-size: 21px;
    font-weight: bold;
    color: black;
/*     从麦色改到黑色 */
}

.table{
    padding-bottom: 2%;
}
#stay-info {
    margin-top: 5%;
}

.stay-info {
    width: 100%;
}
.method {
    width: 100%;
} 
#up2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    border: 2px solid  rgb(54, 119, 231);
    width: 43px;
    height: 43px;
    border-radius: 50% 50%;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    #register table {
        width: 100%;
    }

}
@media screen and (width: 768px) {
    
    #register table {
        width: 80%;
    }
}
/*
@media screen and (max-width: 992px) and(min-width:768px) {
   
    

}
@media screen and (max-width: 1025px) and (min-width: 992px) {
    
}
@media screen and (min-width: 992px) {
   
   
}*/
