
#introdution{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 80%;
    height: auto; 
    background: rgba(241,243,244,0.2);
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 5% 5%;
    font-family: KaiTi;
    
}

.introdution,.speaker,.main2 {
    display: flex;
}

#theme {
    position: relative;
    margin-top: 10%;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    padding-top: 10%;
    width: 60%;
    font-size: 23px;
    color:wheat;
    text-align: left;
    line-height: 35px;
}

#speaker {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    width: 80%;
    left: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}
table {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
    width: 80%;
    margin-bottom: 10%;
}

#speaker p {
    position: relative;
    width: 90%;
}
#speaker .speaker {
    position: relative;
    left: -15%;
}
#speaker+p {
    margin-bottom: 10%;
} 
#main2 {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}
#contents {
    /*margin-left: 5%;*/
    position: relative;
    font-size: 20px;
    margin-bottom: 20%;
}

#contents .organization {
    font-size: 25px;
    font-weight: bolder;
}
#button {
    position: absolute;
    display: flex;
    width: 300px;
    height: 45px;
    margin: 50px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0);
}
#up1 {
    position: relative;
    border: 2px solid  rgb(54, 119, 231);
    width: 43px;
    height: 43px;
    border-radius: 50% 50%;
    text-align: center;
}
#down2 {
    position: relative;
    left: 100px;
    width: 43px;
    height: 43px;
    border: 2px solid  rgb(54, 119, 231);
    border-radius: 50% 50%;
    text-align: center;
}
a:hover {
    color:  wheat;
}
/*
@media screen and (max-width: 1200px) and (min-width: 992px) {
    #introdution #theme{
       font-size: 30px;
    }
    .introdution,.speaker,.main2{
        display: unset;
    }
    
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    #introdution #theme{
        
        font-size: 30px;
    }
    #speaker {
        padding-left:10%;
        font-size: 18px;
    }
    #contents {
        text-align: unset;
        padding-right: 10%;
        margin-left: 0;
    }
    .introdution,.speaker,.main2{
        display: unset;
    }
    
}
@media screen and (max-width: 768px) {
    
    #introdution {
        width: 100%;
    }
    .title {
        margin-top: 60px;
        padding: 5px;
        line-height: 25px;
        width: 100px;
        height: 30px;
        left: 37%;
        font-family: KaiTi;
        font-size: 20px;
        color: wheat;
        background: rgb(54, 119, 231);
    }
    .title3{
        width: 120px;
    }
    #introdution #theme{
        left: 0;
        width: 100%;
        padding:2% ;
        font-size: 20px;
    }
    #speaker {
        width: 100%;
        left: 5%;
        font-size: 13px;
    }
    .introdution,.speaker,.main2{
        display: unset;
    }
    
}
*/