html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position:relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(image/mainbg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: wheat;
}
@media screen and (max-width: 768px) {
    #main {
        width: 100%;
        text-align: center;
    }
    .container #main p:nth-child(1) {
        font-size: 22px;
    }
    .container #main p:nth-child(2) {
        font-size: 16px;
    }
    .container #main p:nth-child(3) {
        font-size: 19px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    #main {
        width: 100%;
        text-align: center;
    }
    .container #main p:nth-child(1) {
        font-size: 25px;
    }
    .container #main p:nth-child(2) {
        font-size: 20px;
    }
    .container #main p:nth-child(3) {
        font-size: 22px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    #main {
        width: 100%;
        text-align: center;
    }
    .container #main p:nth-child(1) {
        font-size: 30px;
    }
    .container #main p:nth-child(2) {
        font-size: 22px;
    }
    .container #main p:nth-child(3) {
        font-size: 25px;
    }
}

/*---*/
ul {
    list-style-type: none;
}
#main-nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-inverse {
    border: 0 none;
    background: #021942 none repeat scroll 0 0;
    text-align: center;
}

.navbar-toggle {
    background-color: #021942 !important;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand {
    height: 76px;
    padding: 7px 15px;
}

.navbar-brand > img {
    max-height: 100%;
    max-width: 100%;
}

.navbar-inverse .navbar-nav > li > a {
    
    font-size: 20px;
    margin: 20px 60px 0 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: wheat;
    line-height: 35px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: rgb(81, 125, 207);
}

/*-------*/
#besides-footer {
    padding-bottom: 100px;
}
#main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: KaiTi;
    text-align: center;
}
#main p:nth-child(1) {
    font-size: 60px;
}
#main p:nth-child(2) {
    font-size: 30px;
}
#main p:nth-child(3) {
    font-size: 34px;
}
#icon-down {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,0);
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50% 50%;
    border:2px solid rgb(81,125,207);
    cursor: pointer;
}

.nav .navbar-nav .navbar-right li:hover .sub{
    left:auto;
}
