#main2 {
    position: relative; 
    display: flex; 
    margin-top: 3%;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background:  rgba(193,193,193,0.3); 
    border-radius: 5% 5%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: center;
}
#participation-method {
    position: relative;
    padding-bottom: 10%;
}
#participation-method p{
    padding-top: 2%;
}
/*#participation-method img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
}*/
#participation-method :nth-child(4) {
    padding-bottom: 10%; 
}

#register {
    position: relative;
    margin-top: 10%;
    padding-bottom: 5%;
}
#register p {
    padding-top: 2%;
}
#stay-info {
    width: 80%;
    padding-top: 5%;

}
#stay-info p{
    position: relative;
    padding-top: 1%;
    padding-bottom: 10%;
}
#up2 {
    position: relative;
    left: 50%;
    transform: translate(-50% 0);
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid  rgb(54, 119, 231);
    width: 43px;
    height: 43px;
    border-radius: 50% 50%;
    text-align: center;
}
/*
@media screen and (max-width: 767px) {
    #main2 {
        width: 100%;
        padding:2%;
        font-size: 18px;
    }
    .title { 
        width: 120px;
        height: 40px;
        left: 35%;
        top: -10%;
    }
    .title4 {
        top: 55%;
    }

}
@media screen and (width: 768px) {
    #main2 {
        width: 100%;
        top: 0%;
        padding:2%;
        font-size: 18px;
        
    }
    .title {
        left: 50%;
        transform: translate(-50% 0);
        width: 120px;
        height: 40px;
        left: 43%;
    }
   
}
@media screen and (max-width: 992px) and(min-width:768px) {
    #main2 {
        position: absolute;
        width: 100%;
        top: 40%;
        margin-top: 0;
        padding:5%;
        font-size: 18px;
    }
    .title {
        left: 100%;
        transform: translate(-50% 0);
        width: 120px;
        height: 40px;
        left: 35%;
    }
    

}
@media screen and (max-width: 1025px) and (min-width: 992px) {
    #participation-method {
        margin-top: 20%;
    }
}
@media screen and (min-width: 992px) {
   
    #up2 {
       top: 10%;
    }
}*/